--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.taxcloud.net/1.0/Taxcloud.asmx
    body: 
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://taxcloud.net" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://taxcloud.net"><env:Body><ins0:VerifyAddress><wsdl:apiLoginId>api-login-id</wsdl:apiLoginId><wsdl:apiKey>api-key</wsdl:apiKey><ins0:uspsUserID>usps-username</ins0:uspsUserID><ins0:address1>888 6th Ave</ins0:address1><ins0:address2 xsi:nil="true"/><ins0:city>New York</ins0:city><ins0:state>New York</ins0:state><ins0:zip5>10001</ins0:zip5><ins0:zip4 xsi:nil="true"/></ins0:VerifyAddress></env:Body></env:Envelope>
    headers: 
      Soapaction: 
      - "\"http://taxcloud.net/VerifyAddress\""
      Content-Type: 
      - text/xml;charset=UTF-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
    body: 
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><VerifyAddressResponse xmlns="http://taxcloud.net"><VerifyAddressResult><Address1>888 6TH AVE</Address1><City>NEW YORK</City><State>NY</State><Zip5>10001</Zip5><Zip4>3502</Zip4><ErrNumber>0</ErrNumber></VerifyAddressResult></VerifyAddressResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 11 Apr 2012 17:11:21 GMT
recorded_with: VCR 2.0.1
